a {
  text-decoration: none !important;
  color: inherit !important;
}

.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filters {
  background-color: blue;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 22px;
  color: yellow;
}

.products {
  width: 30%;
  margin: 10px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImage {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.summary {
  width: 30%;
}

.confirmation-message {
  background-color: #2d09e0;
  color: #fcef05;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 700;
  padding: 20px;
  border: 2px solid #1313f4;
  border-radius: 5px;
  margin: 10% 20% 0 20%;
  text-align: center;
}


@media (max-width: 771px) {
  .navbar-fixed-top {
    position: static !important;
  }

  .title {
    font-size: 18px !important;
  }
  
  .filters {
    width: 40%;
    padding: 10%;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .products {
    width: 100%;
  }
}
